"public/"
"desktop.ini"
"resources/"
themes/harbor
themes/harbor
desktop.ini
.hugo_build.lock
.frontmatter

# Build directories
public
resources
dist

# Dependency directory
bower_components
node_modules