{{ if .Site.IsServer }}
  {{ $seed := "weqklrjfmnk213409ufasdfhnlk3j4bladsfsl" }}
  {{ $random := delimit (shuffle (split (md5 $seed) "" )) "" }}
  {{ $style := resources.Get "main.css" | resources.PostCSS | resources.ExecuteAsTemplate (printf "main.dev.%s.css" $random) $random }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}" />
{{ else }}
  {{ $style := resources.Get "main.css" | resources.PostCSS | resources.Minify }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}" />
{{ end }}
