<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{- if .IsHome -}}Home | {{ .Site.Title }}{{- else if .Params.hide_site_title -}}{{ .Page.Title }}{{- else if .Page.Title -}}{{ .Page.Title }} | {{ .Site.Title }}{{- else -}}{{ .Site.Title }}{{- end -}}</title>
  <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ with .Summary }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}{{ end }}" />
  <link rel="canonical" href="{{ .Permalink }}" />
  {{ $styles := resources.Get "/css/style.css" | postCSS | minify }}
  {{ if .Site.IsServer }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}" />
  {{ else }}
    {{ $styles := $styles | minify | fingerprint | resources.PostProcess }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}" crossorigin="anonymous" />
  {{ end }}
  {{/* {{ partial "css.html" . }} */}}
  {{/* <link rel="stylesheet" href="/css/style.css" type="text/css" media="all" /> */}}
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/highlight.css" type="text/css" media="all" />
  <link href="https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;700&amp;family=Fira+Sans:ital,wght@0,400;0,700;1,400&amp;family=Miriam+Libre:wght@400;700&amp;display=swap" rel="stylesheet" />
  {{ template "_internal/opengraph.html" . }}
  {{ template "_internal/twitter_cards.html" . }}
  <script>
    if (localStorage.getItem("color-theme") === "dark" || (!("color-theme" in localStorage) && window.matchMedia("(prefers-color-scheme: dark)").matches)) {
      document.documentElement.classList.add("dark");
    } else {
      document.documentElement.classList.remove("dark");
    }
  </script>
</head>
