{{ range .Site.Data.books.book }}
  <div class="relative mx-auto w-full max-w-md pt-6">
    <div
      class="relative inline-block w-full transform transition-transform duration-300 ease-in-out"
    >
      <div class="rounded-lg">
        <div
          class="relative flex h-64 justify-center overflow-hidden rounded-lg"
        >
          <div
            class="w-full transform transition-transform duration-500 ease-in-out hover:scale-110"
          >
            <img
              src="{{ .cover }}"
              alt="{{ .title }}"
              class="blur-sm hover:filter-none"
            />
          </div>
        </div>
        <div class="flex flex-col mt-4">
          <h2
            class="line-clamp-1 text-base font-medium text-gray-800 dark:text-white md:text-lg"
            title="{{ .title }}"
          >
            {{ .title }}
          </h2>
          <p
            class="mt-2 line-clamp-1 text-sm text-gray-800 dark:text-white"
            title="{{ .author }}"
          >
            By {{ .author }}
          </p>
        </div>
        <div
          class="mt-2 grid grid-cols-2 grid-rows-2 gap-4 border-t border-gray-200 pb-3 pt-3"
        >
          <p
            class="flex items-center text-gray-800 dark:text-white xl:flex-row xl:items-center"
          >
            <span class="mr-3 text-gray xl:h-4 xl:w-4"
              ><i class="fa-regular fa-calendar"></i
            ></span>
            <span class="xl:mt-0"> {{ .year }} </span>
          </p>
          <p
            class="flex items-center text-gray-800 dark:text-white xl:flex-row xl:items-center"
          >
            <span class="mr-3 text-gray-800 dark:text-white xl:h-4 xl:w-4"
              ><i class="fa-regular fa-book-open"></i
            ></span>
            <span class="mt-0"> {{ .pages }} Pages </span>
          </p>
          <p
            class="flex items-center text-gray-800 dark:text-white xl:flex-row xl:items-center"
          >
            <span class="mr-3 text-gray-800 dark:text-white xl:h-4 xl:w-4"
              ><i class="fa-regular fa-books"></i
            ></span>
            <span class="mt-0"> {{ .tag }} </span>
          </p>
          <p
            class="flex items-center text-gray-800 dark:text-white xl:flex-row xl:items-center"
          >
            <span class="mr-3 text-gray xl:h-4 xl:w-4"
              ><i class="fa-brands fa-creative-commons-by"></i
            ></span>
            <span class="xl:mt-0"> CC BY-NC-ND 4.0 </span>
          </p>
        </div>
        <div class="w-full">
          <a href="{{ .download }}">
            <button
              type="button"
              class="py-2.5 px-5 text-sm font-medium text-gray-900 focus:outline-none bg-white border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 w-full"
            >
              <i class="fa-light fa-download fa-fade"></i> Download
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
{{ end }}
